.pages{
  display: flex;
  align-items: center;
}

.pages-item{
  margin-right: 5px;
  cursor: pointer;
  width: 20px;
  text-align: center;
}

.active{
  background-color: rgba(255, 0, 0, 0.671);
  border-radius: 50%;
  color: white;

}

 td {
  border: 1px solid black;
  width: 100px;
}
th{
  width: 100px;
  text-align: left;
}
thead, tbody { display: block; }

tbody {
    height: 150px;       
}